<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 400px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p style="margin: -7px 0px 7px 0px;">{{ recipe.description }}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button class="btn btn-primary dropdown-toggle" style="margin: 0px 0px 4px 0px;">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="addToShop()" style="cursor: pointer;">Add to Shopping List</a></li>
                <li><a (click)="editRoute()" style="cursor: pointer;">Edit Recipe</a></li>
                <li><a style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let ing of recipe.ingredients"> 
            {{ ing.name }} ({{ing.amount}})</li>
        </ul>
    </div>
</div>
